<!-- Crop display -->
<div #imgCropperWrapper id="imgCropper-wrapper" class="imgCropper-wrapper">
  <div #imgCropperContainer id="imgCropper-container" class="imgCropper-container">
    <img #imgCropperImage id="imgCropper-image" [src]="imageBindingSource" alt="Drag me!" />
  </div>
</div>
<!-- Crop controls -->
<div id="imgCropper-controls" class="imgCropper-controls" *ngIf="showControls">
  <button *ngFor="let button of actionButtons" (click)="onAction(button.action)">{{button.text}}</button>
</div>
